body {
  margin: 0 auto;
  padding: 50px ;
  font-family: sans-serif;


}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container > div {
        margin-top: 50px;
    float: left;
    flex: 1 0 45%;
    align-self: center;
    margin: 0 auto;
    text-align: center;
}